/* CSS */


html, body{
	width: 100%; height: 100%;
	margin: 0px; padding: 0px;
	background-color: floralwhite;
}
body {
	background-color:darkslategray;
}
h1 {
	color: aliceblue;
}
h1, p {
	text-align: center;
}
p #my_btn {
	background-color:brown;
	color: white;
}
#d_b {
	width: 250px;
	margin: auto;
	border: 2px solid rosybrown;
	border-radius: 6px;
	background-color: cornsilk;
}
#d_a {
	width: 250px;
	margin: auto;
	border: 2px solid rosybrown;
	border-radius: 6px;
	background-color: cornsilk;
}